/* Create Account Section Styles - Inspired by shop.commissaries.com */

#gigya-login-form div:nth-child(1) h2.gigya-composite-control.gigya-composite-control-header.special-title{
font-family: "Oswald", sans-serif !important;
   margin-bottom: 10px !important;
    font-size: 30px !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    text-rendering: optimizeLegibility !important;
    font-style: normal !important;
   text-size-adjust: 100% !important;
   font-height:44.8px !important;
  margin-bottom: 18px !important;
  text-align: center !important;
}



