/* Create Account Section Styles - Inspired by shop.commissaries.com
#gigya-login-form div:nth-child(1) h2.gigya-composite-control.gigya-composite-control-header.special-title
*/
label.gigya-composite-control.gigya-composite-control-label.Label_bold{
 font-weight:700 !important;
}
label.gigya-composite-control.gigya-composite-control-label.Label-Normal{
    font-weight:500 !important;
}
label.gigya-composite-control.gigya-composite-control-label.Label-Normal-Bottom-Line{
    font-weight:500 !important;
    margin-bottom:0px;
    border-bottom: 1px solid #ccc !important; 
}   
#gigya-login-form a.gigya-composite-control.gigya-composite-control-link.Href-CreateAccount{
     padding: 4px;
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
}
#gigya-login-form label.gigya-composite-control.gigya-composite-control-label.Required-Label{
    display: block;
    text-align: right !important;
    font-weight:500 !important;
    font-size: 12px !important;
}
#gigya-login-form h2.gigya-composite-control.gigya-composite-control-header.special-title{
font-family: "Oswald", sans-serif !important;
    margin-top: 0px !important;
   margin-bottom: 10px !important;
    font-size: 30px !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    text-rendering: optimizeLegibility !important;
    font-style: normal !important;
   text-size-adjust: 100% !important;
   font-height:44.8px !important;
  margin-bottom: 14px !important;
  text-align: center !important;
}
#gigya-login-form label.gigya-composite-control.gigya-composite-control-label.special-title-firsttime{
 font-family: "Oswald", sans-serif !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    font-size: 30px !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-style: normal !important;
}
.screensetContainer {
    margin-top:0px !important;
} 
.gigya-screen.portrait {
padding-top:20px !important;
}




